@media (max-width: 1440px) {
	.header_title {
		font-size: 1.3rem;
	}
	.link__item-nav {
		font-size: .9rem;
		margin-left: 2rem;
	}
	.navigation__link {
		margin-right: 5rem;
	}
}

@media (max-width: 1200px) {
	.header_title {
		font-size: 1rem;
	}
	.link__item-nav {
		font-size: .8rem;
		margin-left: 1.5rem;
	}
	.navigation__link {
		margin-right: 2rem;
	}
	.section__item{
		padding: 0 2rem;
	}
	.item__subtitle {
		font-size: 1.3rem;
	}
	.item__button {
		font-size:  1.2rem;
	}
	.rate__block {
		width: 90%;
	}
	.rate__item {
		padding: 2rem;
		margin: 0 .4rem 1rem;
	}
	.footer__content {
		padding: 3rem 2rem;
	}
	.logo_title {
		font-size: 1rem;
	}
	.footer__text {
		font-size: .7rem;
		white-space: nowrap;
	}
	.footer__link {
		font-size: .8rem;
		white-space: nowrap;
	}


}
@media (max-width: 980px) {
	.navigation__link {
		transform: translateX(150%);
	}
	.item__title {
		font-size: 2rem;
	}
	#fast-start__title {
		margin-bottom: 4rem;
	}
	.rate__item {
		padding: 1rem 1.2rem;
		grid-template-rows: .5fr .5fr 2fr .8fr;
	}
	.rate-item__title {
		font-size: 1.5rem;
	}
	.item__subtitle {
		font-size: 1.1rem;
	}
	.inner__text {
		font-size: 1rem;
	}
	.item__button {
		font-size:  1rem;
		padding: .8rem;
	}
	.footer__content {
		padding: 3rem 1rem;
	}
	.footer__item {
		align-items: center;
	}
	.footer__item:last-child{
		flex-direction: column;
	}
	.logo_title {
		font-size: .8rem;
	}
	.footer__text {
		font-size: .7rem;
		white-space: nowrap;
	}
	.footer__link {
		font-size: .7rem;
		margin-left: 0;
		margin-bottom: 1rem;
		white-space: nowrap;
	}
	.item__social {
		margin: 0 auto;
	}
}
@media (max-width: 844px) {
	.header-navigation-main {
		width: 100%;
		height: 100%;
		display: grid;
		justify-items: center;
		grid-template-rows: 15% 60% 15% 10%;
		grid-template-columns: 100%;
		z-index: 1000;
	}
	.header_title {
		font-size: 1.5rem;
	}
	.header__logo-svg {
		width: 50px;
		height: 50px;
	}
	.navigation__logo {
		margin: 0 auto;
	}

	.navigation__link {
		transform: translate(0);
		flex-direction: column;
		margin: 0;
		width: 100%;
	}
	.link__item-nav {
		font-size: 1.2rem;
		margin: 0 0 1.5rem;
		padding-bottom: .5rem;
	}
	.link__item-nav:first-child {
		margin: 0 0 1.5rem;
	}	
	._media-desktop {
		display: block;
		position: static;
		margin: 0;
	}
	.line-button {
		transform: rotate(-45deg) translateY(-4px);
		
	}
	.line-button:last-child {
		transform: rotate(45deg) translateY(4px);
		
	}
	.item__social-header {
		display: inline-flex;
		
		padding-bottom: 1.4rem;
		border-bottom: 1px solid var(--color-content_link);
	}
	.social-header {
		width: 40px;
		height: 40px;
		fill: var(--color-content_text);
		margin: 0 1rem;
	}
	._media-mobile {
		display: flex;
		z-index: 999;
	}
	/*  */
	.header-nav-button {
		display: none;
	}
	.slider-nav__bottom {
		display: none;
	}
	.slider-nav__header {
		left: 50%;
		transform: translateX(-50%);
		margin: 2rem 0;
	}
	.item-content_title {
		padding: 0 .5rem; 
	}
	/*section about work*/
	.item__link-block {
		display: flex;
		justify-content: center;
	}

	.section-about-work {
	grid-template-areas:
		"content_top"
		"host_images"
		"content_bottom";		
	}
	.section-browzergame {
		margin-top: 12rem;
		grid-template-areas: 
		"browze__top"
		"browze__image"
		"browze__bottom";
	}
	.section-content-image {
		grid-template-columns: 100%;
		grid-template-rows: 1fr 2fr 1fr;
	}
	.section__item__span, .item__link{
		justify-content: center;
		text-align: center;
	}
	.section__item__span {
		margin-bottom: 1.1rem;
	}
	.section__item {
		margin-top: 1.75rem;
	}
	#host_image {
	}
	.section__inner-images {
		align-items: flex-end;
	}
	.item__line {
		display: none;
	}
	/*section fast-start*/
	.scheme-start {
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr 1fr 1fr; 
		grid-template-rows: 2fr 1fr 2fr;
		grid-template-areas:
	    "item_grid_1 item_grid_span_1 item_grid_2"
	    "item_grid_span_2 item_grid_span_2 item_grid_span_2"
	    "item_grid_3 item_grid_span_3 item_grid_4"

	}
	#item-grid-1 {
		grid-area: item_grid_1; 
	}
	#item-grid-2 {
		grid-area: item_grid_2; 
	}
	#item-grid-3 {
		grid-area: item_grid_3;
	}
	#item-grid-4 {
		grid-area: item_grid_4;
	}
	#item-grid-span-1 {
		grid-area: item_grid_span_1;
	}
	#item-grid-span-2 {
		grid-area: item_grid_span_2; 
		width: 35%;
		transform: rotate(-35deg);
	}
	#item-grid-span-3 {
		grid-area: item_grid_span_3;
	}
	.scheme__item > img {
		margin: 0 auto .8rem;
		width: 50%;
		height: auto;
		object-fit: contain;
	}
	.scheme__item > p {
		font-size: 1.5rem;
	}
	.scheme__line {
		width: 60%;
	}
	.rate__block {
		flex-direction: column;
	}
	.rate__item {
		flex-basis: 25rem;
		padding: 1.6rem 3rem;
	}
	.rate-item__title {
		font-size: 1.4rem;
	}
	.location__image {
		width: 100%;
	}
	.image-shadow {
		width: 50%;
		box-shadow: 0px 0px 165px 50px var(--color-content_link);
	}

	.footer__content {
		padding: 2rem 0;
		flex-direction: column-reverse;
	}

	.footer__item {
		align-items: center;
		flex-direction: column;
	}
	.footer__item:last-child {
		flex-direction: column-reverse;
		margin: 4rem 0 2rem;
	}
	.logo_title {
		font-size: 1.5rem;
	}
	.footer__link {
		font-size: 1rem;
		margin-bottom: 2rem;
	}
	.item__logo {
		margin-bottom: 2rem;
	}
	.item__social {
		margin-bottom: 2rem;
	}
	.footer__text {
		margin: 0;
		margin-bottom: 1.2rem;
		font-size: 1.2rem;
	}
	.footer__text:last-child {
		margin-bottom: 1rem;
		font-size: .8rem;
	}
	.link__icon {
		width: 25px;
		height: 25px;
	}
}
@media (max-width: 844px) and (orientation: landscape){
	.slider-nav__header {
		left: 5%;
		transform: translateX(0);
		opacity: 40%;
	}
}

@media (max-width: 480px) {
	header {
		padding: 0;
	}
	.header-slider-main {
		height: 100vh;
		width: 100%;
		border-radius: 0;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		border-bottom: 3px solid var(--color-content_link);

	}
	.slider-item {
		border: 1px solid var(--color-content_link);
		border-radius: 0;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
	.item-content {
		justify-content: flex-end;
		padding-bottom: 8rem;
	}
	.section-browzergame {
		margin-top: 8rem;
		grid-template-rows: .5fr 1fr .5fr ;
	}	
	.section-about-work {
		grid-template-rows:repeat(3, 1fr);
	}
	.item__title {
		font-size: 1.4rem;
	}
	.section__item > p {
		font-size: 1rem;
	}
	.scheme__item > p {
		font-size: 1rem;
	}
	.rate__block {
		width: 80%;
	}
	.rate__item {
		padding: 1rem 2.5rem;
	}
	.rate-item__title {
		font-size: 1.2rem;
	}
	.item__link {
		text-align: center;
	}
}