@media (max-width: 1444px) {
	.reg-main {
		width: 65%;
	}
	.form__policy-label {
		font-size: .6rem;
	}
	
}
@media (max-width: 1200px){
	.reg-main {
		width: 80%;
	}
	.form__submit {
		margin-bottom: 3rem;
	}
	._login-submit {
		margin: 0;
	}
	.alert_content  > p {
		letter-spacing: .02rem;
		line-height: 1.5rem;
		margin-top: 3rem;
		
	}
	.alert_content {
		width: 80%;
	}

}
@media (max-width: 980px) {
	.reg-main {
		width: 90%;
		grid-template-rows: 1fr 3fr .1fr;
	}
	.nav__button {
		font-size: 2.2rem;
	}
	.form__in {
		width: 19rem;
		height: 4rem;
	}
	.form__submit {
		width: 13rem;
		height: 3rem;
		font-size: 1rem;
	}
	.form__policy-label {
		font-size: 1.1vh;
	}
	.reg__use-social-block {
		width: 60%;
	}
	.reg__login-submit {
		width: 50%;
	}
	._login-submit {
		width: 60%;
	}
	.social__title-block {
		display: none;
	}
	.social-use__social-main {
		margin: 0;
	}
	.use-social__item {
		flex-basis: 10%;
	}
	.alert__title > h2 {
		font-size: 1.8rem;
	}
}
@media (max-width: 680px){
	.reg__login-apple {
		top: 1%;
		left: 60%;
	}
	.reg-main {
		width: 100%;
	}
	.reg__use-social-block {
		width: 90%;
	}
	.reg__nav-block {
		flex-direction: column;
		align-items: flex-start;
		margin: 1rem 0;
	}
	.nav__back {
		margin: 1.2rem 2rem 3rem;
	}
	.nav__button {
		margin: 1.2rem;
	}
	.reg__form {
		margin-top: 3rem;
	}
	.form__in {
		width: 75%;
		height: 4rem;
	}
	.form__submit {
		width: 60%;
		height: 3rem;
		font-size: .8rem;
	}
	.reg__submit-block {
		width: 60%;
	}
	.reg__login-submit {
		width: 70%;
	}
	._back-alert {
		margin: 0 3rem 0 0;
	}
	.alert__title > h2 {
		font-size: 1.4rem;
		letter-spacing: .03rem;
	}
	.alert_content  > p {
		font-size: .8rem;
	}

	
}
@media (max-width: 480px) {
	.nav__back {
		margin: .6rem 1rem 2rem;
	}
	.nav__button {
		margin: .5rem;
	}
	.form__submit {
		margin-bottom: 1rem;
	}
	.reg__submit-block {
		width: 90%;
	}
	._back-alert {
		margin: 0 3rem 0 0;
	}
	.alert__title {
		width: 100%;
		box-sizing: border-box;
		padding: 0 1rem;
	}
	._back-alert {
		margin: 0 2rem 0 0;
	}
	.alert__title > h2 {
		font-size: 1rem;
	}
	.alert_content {
		width: 100%;
		box-sizing: border-box;
		padding: 0 1rem;
	}
	.alert_content  > p {
		font-size: .6rem;
	}

}
@media (max-width: 400px) {
	.nav__back {
		margin: .6rem 2rem 1.5rem;
	}
	.nav__button {
		margin: .5rem;
	}
	.reg__form {
		margin-top: .5rem;
	}
	.form__submit {
		margin-bottom: 1rem;
	}
	.reg__submit-block {
		width: 90%;
	}
	._back-alert {
		margin: 0 2rem 0 0;
	}

}

@media (max-height: 650px) and (orientation: landscape) {
	.reg-main {
		width: 90%;
	}
	.reg__login-apple {
		left: 80%;
		top: 2%;
		width: 35%;
	}
	.reg__nav-block {
		margin: .5rem 1rem;
		flex-direction: row;
	}
	.nav__button {
		margin: .4rem 2rem .4rem .5rem;
	}
	.reg__form {
		align-items: flex-start;
		justify-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: .5fr 2fr 1fr;
		grid-template-areas: 
		"form-e form-p"
		"form-sub form-sub";
		margin-top: 0;
	}
	._event-login {
		grid-template-rows: 1fr 1fr;
	}
	.form__in {
		margin: 1.5rem 0;
		width: 90%;
	}
	.email-in {
		grid-area: form-e;
	}
	.password-in {
		grid-area: form-p;
	}
	.form__submit {
		grid-area: form-sub;
	}
	.reg__login-submit {
		margin: .4rem 0;
		width: 70%;
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.reg__submit-block {
		display: flex;
		align-items: center;
		width: 90%;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.form__policy-label {
		font-size: 1.2vh;
		text-align: center;
	}
}
@media (max-height: 450px) and (orientation: landscape) {
	.reg__login-apple {
		left: 85%;
	}
	.form__in {
		margin: 0;
		width: 90%;
	}
	.form__submit {
		width: 40%;
	}
	.reg__use-social-block {
		display: block;
	}
	
}
/* for iphone SE */

@media (max-height: 320px) and (orientation: landscape) {
	.reg__login-apple {
		left: 85%;
		width: 13%;
		height: 20%;
		border-radius: 50%;
		justify-items: center;
	}
	.apple-account {
		flex-basis: 100%;
	}
	.reg-ligin__content {
		display: none;
	}
	.reg__form {
		align-items: flex-start;
		justify-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: .5fr 2fr 1fr;
		grid-template-areas: 
		"form-e form-p"
		"form-sub form-sub";
		margin-top: 0;
	}
	._event-login {
		grid-template-rows: .5fr 1fr;
	}
	.form__in {
		margin: 0;
		width: 90%;
		height: 3rem;
	}
	.form__submit {
		width: 40%;
		height: 2.5rem;
		margin: 1.2rem 0 0;
	}
	
	
}